.elementLista{
  padding: 10px;
  box-shadow: 10px 5px 5px black;
  background-color: rgb(214, 214, 214);
  display: flex  ;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 25px;
}
.lista{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textLista{
  font-size: large;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  rotate: -20deg;
  color: blueviolet;
  text-shadow: 3px 3px 5px lime;
}
.Butonescu{
  border-radius: 10px;
  box-shadow: 1px 1px 5px green;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(0, 255, 0);
  opacity: 0.8;
  color: blueviolet;
  width: 50px;
  font-size: 24px;
  font-weight: bold;


}